@font-face {
  font-family: msl;
  src: url("../fonts/ModernSans-Light.otf");
}

body{
  background-color: #267FDE;
}

nav{
  padding: 1.5%;
}

#backgroundboardHome{
  padding: 0;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

#backgroundboard_page{
  margin-top: 3%;
  padding-bottom: 10%;
}

nav ul li{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  font-family:  msl;
  top: 0;
  width: 98%;
  color: white;
  list-style-type: none;
}

div ul li{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  font-family:  msl;
  top: 0;
  width: 98%;
  color: white;
  list-style-type: none;
  padding: 1%;
}

footer{
  position: absolute;
  z-index: 4;
  bottom: 2;
  background: #1A2838;
  height: 100px;
  color: grey;
  padding: 1%;
  padding-bottom: 1px;
  width:  97%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}


footer ul li{
  display: inline;
  padding: 1%;
  list-style-type: none;
  color: grey;
}

.navleft{
  float: left;
  padding-right: 1%;
  transition: transform .2s;
}

.navright{
  float: right;
  padding-right: 1%;
  transition: transform .2s;
}

#broimage:hover {
  transform: scale(1.1);
}

#centerbroimage {
  display: block;
  margin: auto;
  margin-top: 13%;
  margin-bottom: 17%;
  z-index: -1;
  transition: transform .2s;
}

#centerbroimage:hover {
  transform: scale(1.3);
}

#center_arrow {
  display:  block;
  margin: auto;
  opacity: 0.5;
  filter: alpha(opacity=40);
  transition: transform .2s;
}

.bro_link {
  align-content: center;
  height: 200px;
  width: 10%;
}

#center_arrow:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  transform: scale(1.2);
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:99%;
    padding: 0;
}

.large_gap{
  padding-top: 25%;
  padding-bottom: 25%;
}

.small_gap{
  padding-top: 7%;
  padding-bottom: 4%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: white;
  width: 80%;
  padding: 3%;
  margin: 2%;
  margin-left: 7%;
  border-bottom: 2px solid white;
  display: block;
  font-family:  msl;
  box-shadow: 0 3px 2px -2px #1A2838;
}

form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-family:  msl;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family:  msl;
  text-align: left;
  box-shadow: 3px 2px 2px #1A2838;
}

button {
  background-color: #1A2838;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family:  msl;
  box-shadow: 3px 2px 2px black;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input:hover {
  background-color: #1A2838;
}

a:hover {
  transform: scale(1.1);
  color: lightgrey;

}

h1 {
  color: white;
  padding-left: 5%;
  padding-top: 5%;
}

.centertitle{
  text-align: center;
  padding: 20%;
}

h2 {
  color:  white;
  padding-left:  7%;
}

body {
  background-attachment: fixed;
  font-family: msl;
  z-index: 2;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body, html {
  height: 99%;
  width: 99%;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
  font-size: 20px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5%;
  text-align: center;
}

:link {
  color: white;
}

:visited {
  color:  white;
}

.centerFoot:link {
  color: grey;
}

.centerFoot:visited {
  color:  grey;
}

@media only screen and (max-width: 700px) {
  nav ul li{
    display: inline-block;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 30px;
    font-family:  msl;
    top: 0;
    width: 98%;
    color: green;
  }

   body {
    background-color: #267FDE;
  }


  .navleft{
    float: right;
    padding: 2%;
    transition: transform .2s;
  }

  .navright{
    float: right;
    padding: 2%;
    transition: transform .2s;
  }
}